/* nav styles */
nav {
  display: flex;
  height: 120px;
  position: fixed;
  top: 0;
  background-color: none;
  color: #FFFFFF;
  padding: 0 1.5em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Bungee", sans-serif;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.tweet-text-bold {
  font-weight: 600;
}

.fa-angles-down {
  color: tomato;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.fa-angles-down:hover {
  color: rgb(255, 38, 0);
}

.end-animation {
  animation-iteration-count: 3;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}